@font-face 
{
	font-family:Pompadur;
	src:url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff)
}

body
{
	background-color: black;
	background-image: url("img/back1.gif");
	height: 100vh;
	width: 100vw;
	margin: 0;
	margin-right:auto;
	margin-left:auto;
	font-family: Pompadur;
	max-width: 100%;
	overflow-x:hidden;
}
#head
{
	background-color: black;
	background-image: url("img/back1.gif");
	height: 20vh;
	width: 100vw;
	margin: 0;
	margin-right:auto;
	margin-left:auto;
}
.logo img
{
	width: 70px;
	height: 40px;
	margin-left: 40px;
	margin-top: 25px;
	float: left;
	border: solid rgba(255,255,255,0.5) 1px;
	border-radius: 2px;
}

.logoImage img
{
	width: 70px;
	height: 40px;
	margin-left: 40px;
	margin-top: 25px;
	float: left;
}

.buttons img
{
	width: 70px;
	height: 40px;
	margin-top: 25px;
	margin-right: 5px;
	float: right;
	border: solid rgba(255, 255, 255, 0.5) 1px;
	border-radius: 2px;
}

#last
{
	margin-right: 40px;
	float: none;
}

#foot
{
/*	background-color: rgba(0, 0, 0, 1);*/
	/*background-repeat: no-repeat;*/
/*	background-size: cover;*/
	/*height: 650px;*/
	position: relative;
    top: 0px;
    max-width: 100%;
    max-height: 100%;
}

.acro
{
	display: inline-block;
	width: 40vw;
	float: left;
	margin: 5vw 0 0 5vw;
}

.term
{
	display: inline-block;
	width: 40vw;
	clear: both;
	margin: 5vw 0 0 5vw;
}

.shapkaH1
{
	color: white;
	text-align: left;
	font-size: 69px;
	margin: 150px 50px 0 100px;
}

.shapkaH2
{
	color: #d8d8d8;
	text-align: left;
	font-size: 39px;
	margin: 10px 50px 0 100px;
}

.shapkaH3
{
	color: silver;
	text-align: left;
	font-size: 29px;
	margin: 2px 50px 0 100px;
}

