

.logo img
{

	box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.1);
	background-color: rgba(38, 182, 191, 0.4);
}

.buttons img
{
	box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.1);
	background-color: rgba(38, 182, 191, 0.4);
}

.buttons img:hover, .logo img:hover
{
	background-color: rgba(58, 54, 55, 0.4);
	border: solid rgba(255, 255, 255, 0.1) 1px;
	box-shadow: 10px 10px 5px rgba(58, 54, 55, 0.2);
}

h1
{
	text-align: center;
	color: rgba(38, 182, 191, 1);
}


#ti
{
    background:rgba(14, 53, 102, 0.7);
}
#head_nav th,td
{
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    outline: 1px solid rgba(14, 53, 102, 0.7);
    font-size: 12.5px;
}

td
{
    padding: 5px 10px;
}

th
{
    background-color:rgba(38, 182, 191, 0.5);
    color: white;
    padding: 5px 10px;
}
tr
{
	background-color:rgba(38, 182, 191, 0.5);
}
td:hover, tr:hover
{
    cursor: pointer;
    background: rgba(38, 182, 191, 1);
    color: white;
}
#home tr, th
{
	color:white;
}

#h
{
	position: fixed;
	top:0px;
	font-size: 25px;
}
#h th:hover
{
	cursor: pointer;
    background:rgba(0, 0, 0, 0.51);
}

a
{
	text-decoration: none;
}

a:visited , a:hover , a:active,  a:link 
{
	color:white;
}

#one
{
	width: 639px;
	height: 379px;
}

th
{
	font-size: 26px;
}

#search
{
	padding: 8px 120px;
}

input[type=text] {
    width: 80px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(147,201,210,1);
    border-radius: 2px;
    font-size: 16px;
    background-color: rgba(15, 73, 76, 0.48);
    /*background-image: url('img/search1.png');*/
    background-position: 10px 10px; 
    background-repeat: repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 5px 10px;
    color: rgba(38, 182, 191, 0.8);
}

input[type=text]:focus {
    width: 70%;
	background-color: rgba(15, 73, 76, 0.48);
}

input[type=text]:hover
{
	background-color: rgba(15, 73, 76, 0.48);
}

.acroTitle
{
	color: silver;
	margin: 0 0;
	display: inline;
	float: left;
}

.acroMean
{
	font-weight: bold;
}

.acroWords
{
	color: gainsboro;
	margin: -2px 0;
}

#foot
{
	padding: 15px;
}

input[type=submit] 
{
	background-color:rgba(0,0,0,0.5);
	border:0.5px solid #666;
	color:#666;
	font-size:20px;
	height:35px;
	outline:none;
	padding:0 ;
	width:200px;
	margin-top:10px;
	font-family: Pompadur,verdana,sans-serif;
	font-weight:100;
	cursor:pointer;
}

input[type=submit]:hover 
{
	background:rgba(0, 202, 183, 0.42);
	border:1px solid #666;
	color:#fff;
}

.commentor
{
	color: white;
	font-weight: bold;
}

.commentItself
{
	color: gainsboro;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: rgba(15, 73, 76, 0.48);
    font-size: 16px;
    resize: none;
    color: silver;
}

.acroImage1
{
	width: 150px;
	height: 120px;
	display: inline-block;
	float: right;
	
}


.acroImage2
{
	width: 150px;
	height: 120px;
	display: inline-block;
	float: right;
	margin-left: 150px;
	margin-right: -50px;
}

.userName1
{
	font-size: 42px;
	display: block;
	color: silver;
}

.userScience
{
	font-size: 20px;
	display: inline-block;
	clear: both;
	color: silver;

}

.userImage
{
	width: 150px;
	height: 130px;
	margin: 20px;
	display: inline-block;
	float: left;
}

.userAbout
{
	color: silver;
	margin-left: 200px;
}
